<div class="container">

  <div class="row" id="header-box">
    <h1><center>Welcome to BookBox!</center></h1>
  </div>
  <form method="post" action="/login">
    <div class="row">
      <div class="twelve columns">
        <input class="u-full-width" type="email" placeholder="email@email.com">
        <input class="u-full-width" type="password" placeholder="password">
      </div>
    </div>
    <div class="row"><center>
      <input class="button-primary" type="submit" value="submit"></br>
      <a class="button" href="/signup">Sign Up</a>
    </center></div>
  </form>
</div>
