<div class="container">
  <form method="POST" action="/signup">
    <div class="row">
      <div class="six columns">
        <label for="firstname">First Name</label>
        <input class="u-full-width" placeholder="Anne" type="text" value="<%= @user.first_name %>">
      </div>
      <div class="six columns">
        <label for="lastname">Last Name</label>
        <input class="u-full-width" placeholder="Hathaway" type="text" value="<%= @user.last_name %>">
      </div>
    </div>
    <div class="row">
      <div class="six columns">
        <label for="email">Email</label>
        <input class="u-full-width" placeholder="thedevilwearsparada@hotmail.com" type="email" value="<%= @user.email %>">
      </div>
      <div class="six columns">
        <label for="password">Password</label>
        <input class="u-full-width" placeholder="password" type="pasword" value="<%= @user.last_name %>">
      </div>
    </div>
    <input class="button-primary" type="submit" value="submit input">
  </form>
</div>
