<div class="container" style="clear: both">

  <div class="row">
    <h1 class="header-box">
      <center>Let's make a new book!</center>
    </h1>
  </div>
  <form action="/book/new" method="POST">
    <div class="row">
      <div class="six columns">
        <input class="u-full-width" name="title" placeholder="Title" type="text">
      </div>
      <div class="six columns">
        <input class="u-full-width" name="author" placeholder="Author" type="text">
      </div>
    </div>
    <div class="row">
      <div class="six columns">
      <select class="u-full-width" name="genre">
        <option>--Select a Genre--</option>
        <option value="Fiction">Fiction</option>
        <option value="Nonfiction">Nonfiction</option>
        <option value="Children's">Children's</option>
      </select>
      </div>
    </div>
    <center><input class="button-primary" type="submit" value="create"></center>
  </form>

</div>
