<div class="container">

  <div class="row">
    <h1 class="header-box">
      <center>Let's make a new book!</center>
    </h1>
  </div>
  <form action="/book/new" method="POST">
    <div class="row">
      <div class="six columns">
        <input class="u-full-width" name="title" placeholder="Title" type="text">
      </div>
      <div class="six columns">
        <input class="u-full-width" name="author" placeholder="Author" type="text">
      </div>
    </div>
    <div class="row">
      <div class="six columns">
        <input class="u-full-width" name="genre" placeholder="Genre" type="text">
      </div>
    </div>
    <center><input class="button-primary" type="submit" value="create"></center>
  </form>

</div>
