
<form>
  <div class="row">
    <div class="six columns">
      <label for="email">Email</label>
      <input class="u-full-width" type="email" placeholder="chubbylover54@hotmail.com">
    </div>
    div class="six columns">
      <label for="password">Password</label>
      <input class="u-full-width" type="pasword" placeholder="password">
    </div>
  </div>
