<!DOCTYPE html>
<html lang="en">

<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,500,600,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/stylesheets/skeleton.css">
  <!--
    application.css is where you put your styles
  -->
  <link type="text/css" rel="stylesheet" href="/stylesheets/application.css">
  <link type="text/css" rel="stylesheet" href="/stylesheets/skeleton.css">
<!--
    Google icons
 -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


  <title>BookBox - Share Some Books!</title>
</head>

<body>
  <% if current_user %>
    <div class="row header-logout" style="float: right; margin-right: 10px;">

      <a class="button button-primary" href="/<%= current_user.first_name %>/bookshelf"><%= current_user.first_name %>'s Bookshelf</a>
      <a class="button button-primary" href="/book/new">Post a new book</a>
      <a class="button button-primary" href="/trade_wall">Trade Wall</a>
      <a class="button" href="/logout">logout</a>

    </div>
  <% end %>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>

<div class="container">

  <%= yield %>

</div>

</body>

</html>
